Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.pc
.deps
.libs
*.o
*.lo
*.la
*.stamp
*.gir
*.typelib
*.gi
*~
*#*
*.sw?
*.pyc
build
shumate-gtk/shumate-gtk-marshal.c
shumate-gtk/shumate-gtk-marshal.h
shumate-gtk/stamp-marshal
shumate-gtk/shumate-gtk-enum-types.c
shumate-gtk/shumate-gtk-enum-types.h
shumate-gtk/stamp-enum-types
shumate/shumate-marshal.c
shumate/shumate-marshal.h
shumate/stamp-marshal
shumate/shumate-enum-types.c
shumate/shumate-enum-types.h
shumate/stamp-enum-types
shumate/shumate-version.h
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
demos/animated-marker
demos/launcher
demos/launcher-gtk
demos/polygons
demos/url-marker
demos/local-rendering
demos/minimal
demos/minimal-gtk
demos/create-destroy-test
demos/launcher-vala
demos/launcher-vala.c
demos/markers-vala.c
depcomp
compile
docs/reference-gtk/libshumate-gtk-undeclared.txt
docs/reference-gtk/libshumate-gtk-undocumented.txt
docs/reference-gtk/libshumate-gtk-unused.txt
docs/reference-gtk/libshumate-gtk.args
docs/reference-gtk/libshumate-gtk.hierarchy
docs/reference-gtk/libshumate-gtk.interfaces
docs/reference-gtk/libshumate-gtk.prerequisites
docs/reference-gtk/libshumate-gtk.signals
docs/reference-gtk/version.xml
docs/reference-gtk/libshumate-gtk-decl-list.txt
docs/reference-gtk/libshumate-gtk-decl.txt
docs/reference-gtk/libshumate-gtk-overrides.txt
docs/reference-gtk/libshumate-gtk-types.txt
docs/reference-gtk/html/*.*
docs/reference-gtk/tmpl/*.*
docs/reference-gtk/xml/*.*
docs/reference/version.xml
docs/reference/libshumate-undeclared.txt
docs/reference/libshumate-undocumented.txt
docs/reference/libshumate-unused.txt
docs/reference/libshumate.args
docs/reference/libshumate.hierarchy
docs/reference/libshumate.interfaces
docs/reference/libshumate.prerequisites
docs/reference/libshumate.signals
docs/reference/libshumate-decl-list.txt
docs/reference/libshumate-decl.txt
docs/reference/libshumate-overrides.txt
docs/reference/libshumate-types.txt
docs/reference/html/*.*
docs/reference/tmpl/*.*
docs/reference/xml/*.*
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
INSTALL
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gtk-doc.m4
